<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaloguj</title>
</head>
<body>
    Zalogowano!
    <a href="stworz">Stwórz ofertę!</a>
</body>
</html>